@charset "UTF-8";

@media (max-wideth: 450px) {
  /*quebra de imagens da class destaque*/
  .Destaques {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .produtos {
    grid-template-columns: repeat(2, 1fr); /* 2 por linha */
  }
}

@media (max-width: 480px) {
  .produtos {
    grid-template-columns: 1fr; /* 1 por linha */
  }
}

<link rel="preconnect" href="https://fonts.googleapis.com">              /*font de texto*/
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --cor-principal: #e91e63; /* rosa moderno */
  --cor-secundaria: #9c27b0; /* roxo elegante */ /*variável de cores principais*/
  --cor-fundo: #cfcccd; /* rosa bem claro */
  --cor-card: #ffffff;
  --cor-texto: #464545;
}

body {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.349), purple);
  font-family: "ROBOTO";
}

header {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.459),
    rgb(241, 149, 165)
  );
  color: var(--cor-texto);
  padding: 4px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

header h1 {
  margin-top: 5vw;
  font-size: 5vw;
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav li {
  cursor: pointer;
  padding-bottom: 3px;
}

.nav li:hover {
  color: var(--cor-principal);
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2.5vw;

  text-shadow: 1px 2px rgba(0, 0, 0, 0.089);
}

.logo img {
  width: 97vw;
  height: 35vw;

  margin: auto;
  padding: 3px;
  padding-right: 5px;
  border-radius: 10px;

  box-shadow: 2px 2px rgba(0, 0, 0, 0.432);
}

h2 {
  text-align: center;
  font-size: 5vw;
  background-image: linear-gradient(
    to right,
    rgba(128, 128, 128, 0.178),
    #9b27b09c
  );
  border-radius: 5px;

  box-shadow: 2px 2px rgba(0, 0, 0, 0.267);
}

.Destaques {
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.Destaques img {
  width: 25vw;
  height: 25vw;
  padding: 42px;
  margin: auto;
  transition: 0.3s;
}

.Destaques:hover {
  transform: translateY(-10px);
}

.Destaques:hover img {
  transform: scale(1.05);
}

footer {
  background-image: linear-gradient(
    to right,
    rgba(136, 135, 135, 0.658),
    var(--cor-secundaria)
  );
  text-align: center;
  color: white;
  border-radius: 5px;
}

                                                        /*pagina "sobre"*/

section {
  background-color: #9b27b05b;
  margin: auto;
  text-align: center;
  padding: 2px;

  width: 75vw;
}

section p {
  font-size: 2vw;
}
section h3 {
  font-size: 3vw;
}

section ul {
  list-style: none;
  text-align: center;
  font-size: 2vw;
  margin-right: 1px;
}

section img {
  width: 70vw;
  height: auto;
}

form {
                                             /*formulário do contato*/
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

label {
  padding: 5px;
}
textarea {
  height: 120px;
}

 img {
  width: 25vw;                      /*configuração para todas as imagens*/
  height: auto;
  border-radius: 10px;
}

                                                                    /*pagina de produtos*/

.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 20px; /* espaço entre as imagens */
  margin: auto;
  padding-right: 10px;
  text-align: center;

  transition: 0.3s;
  overflow: hidden;  
}

.produtos img:hover {
  transform: scale(1.1);             
}

.title {
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(128, 128, 128, 0.39),
    var(--cor-secundaria)
  );
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.267);
  padding: 10px;
}
.produtos h3 {
  text-align: center;
  background-color: white;
  color: #6a1b9a;
  margin: 10px 0 5px;
  border-radius: 8px;
}
.produtos p {
  font-size: 16px;
  font-weight: bold;
  color: #2e7d32; 
  background: #f1f8e9;
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block
}

                                                    /*pagina de venda*/

.venda{
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  
  background-color: white;
  width: 600px;
  height: auto;
  margin: auto;
  padding: 10px;
}

.venda img {
   text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.venda h1 {
   margin-bottom: 15px;
  color: #333;
}
 .Preço{
   font-size: 22px;
  font-weight: bold;
  color: #27ae60;
  margin: 10px 0;
 }
 .descrição {
    font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
 }

 .venda button {
  background: linear-gradient(45deg, #ff4081, #7b1fa2);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.venda button:hover {
  transform: scale(1.05);
}

 